.input{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--white);
}

.input-form{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.input-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.label{
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--blue);
}

.input-city {
    padding: 5px;
    width: 100%;
    border: 1px solid var(--dark);
    border-radius: .3rem;
    font-family: 'Poppins';
    text-align: center;
    box-shadow: 2px 2px 5px #000;
}

.input-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: var(--gray);
    color: var(--white);
    font-size: 1rem;
    width: 50%;
    border-radius: .3rem;
    cursor: pointer;
    border: 0;
}

.button:hover{
    background: #000000;
}

@media screen and (max-width: 480px){
    .input-city {
        padding: 1px;
        width: 100%;
        border: 1px solid var(--dark);
        border-radius: .3rem;
        font-family: 'Poppins';
        text-align: center;
        box-shadow: 2px 2px 5px #000;
    }
}